@import url('https://rsms.me/inter/inter.css');
body {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background: black;
    cursor: url("../images/cursor.png"), auto;
    transition: .2s;
    user-select: none;
}
::selection {
    background: white;
    color: black;
}
.elements {
    margin: 9vh;
}
p {
    color: white;
    font: 475 22px "Inter var", sans-serif;
    line-height: 50px;
    max-width: 20%;
}
.center-text {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
}
.right_image-container {
    transition: .2s;
    position: absolute;
    width: 70%;
    height: 90vh;
    right: 0px;
    top: 0px;
    margin: 4.90vh;
    box-sizing: border-box;
    z-index: 100;
}
.right_image {
    transition: .3s;
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../images/placeholder.png) #ffffff20;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
    z-index: -1;
}
.right_image-container:hover .right_image {
    filter: brightness(70%);
}
.right_image-container:hover footer, .right_image-container:hover footer a {
    opacity: 100%;
}
.bottom-socials {
    position: absolute;
    background: white;
    border-radius: 5px;
    bottom: 9vh;
    padding: 5px;
    padding-bottom: 1.5px;
    margin: 0px;
}
.bottom-socials img {
    transition: .1s;
    max-height: 16px;
    min-height: 16px;
    margin: 0px;
    padding: 3px;
    cursor: pointer;
}
.bottom-socials img:hover {
    padding: 3px 5px;
}
footer {
    transition: .2s;
    margin: 30px;
    padding: 10px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    box-sizing: border-box;
    font: 500 14px "Inter", sans-serif;
    color: #ffffff;
    background: black;
    border-radius: 6px;
    z-index: 1000;
    opacity: 0%;
}
footer a {
    transition: .2s;
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
}
.hireable-tag {
    position: absolute;
    color: white;
    background: #ffffff25;
    border-radius: 4px;
    font: 700 13px "Inter", sans-serif;
    padding: 4px 6px;
    margin-top: 5px;
    user-select: none;
}
.screen-on-load {
    margin: 0px;
    padding: 0px;
    bottom: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
.screen-on-load .block {
    width: 100%;
    height: 50%;
    background: white;
    animation: 1.75s slideout;
    animation-fill-mode: forwards;
}
.screen-on-load .bottom {
    position: absolute;
    right: 0px;
}
.screen-on-load img {
    animation: 1s linear fadeout-logo;
    animation-fill-mode: forwards;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.page-contents {
    opacity: 0%;
    animation: 2.75s linear fadein forwards;
}
@keyframes fadein {
    65% {opacity: 0%;}
    80% {opacity: 100%;}
    100% {opacity: 100%; z-index: -10;}
}
@keyframes fadeout-logo {
    60% {opacity: 100%;}
    100% {opacity: 0%; z-index: -10;}
}
@keyframes slideout {
    75% {width: 100%;}
    100% {width: 0%; z-index: -10;}
}
@media screen and (max-width: 1100px) {
    .right_image-container {
        display: none;
    }
    p {
        max-width: 80%;
    }
    .bottom-socials {
        padding: 3px;
        padding-bottom: .95px;
    }
    .bottom-socials img {
        padding: 5.75px;
        min-height: 20px;
        max-height: 20px;
    }
    #wordmark {
        min-height: 35px;
    }
}
@media (prefers-color-scheme: light) {
    body {
        background: white;
    }
    p {
        color: black;
    }
    .bottom-socials, #wordmark {
        filter: invert(100%);
    }
    .hireable-tag {
        background: #00000025;
        color: black;
    }
    ::selection {
        background: black;
        color: white;
    }
    .screen-on-load .block {
        background: black;
    }
    .screen-on-load img {
        filter: invert(100%);
    }
    body {
        cursor: url("../images/cursorlight.png"), auto;
    }
    footer {
        background: white;
        color: black;
    }
}
